<a href="https://colab.research.google.com/github/vzn2000/CustomerChurnProjectWithR/blob/master/ETLwithPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ETL Process with Python

In [1]:
# Import create_engine function

from sqlalchemy import create_engine
import pandas as pd

## 1. Extracting data in Python 

- Credentials for Cassendra database

In [2]:
username    = 'datawiz'
password    = 'datawiz123'
host        = 'cassendra.cdjflmucstpo.us-east-1.rds.amazonaws.com:3306'
database    = 'cassendra'

- Create an engine to the Cassendra database

In [3]:
engine_db1 = create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.format(username,password,host,database))

- First Table Extract

In [ ]:
query = '''SELECT * FROM customer'''
df = pd.read_sql(query, engine_db1)

- Second Table Extract

In [ ]:
query2 = '''SELECT * FROM customer_acquisition'''
df2 = pd.read_sql(query, engine_db1)

## 2. Transform Data in Python


- Example: Merged Data Frame

In [ ]:
df_merge = pd.merge(df, df2, on='CUSTOMER_CODE')

## 3. Loading Data in Python

- Credentials for Cassandra_DW database

In [4]:
usernamedw    = 'datawiz'
passworddw    = 'datawiz123'
hostdw        = 'cassendra.cdjflmucstpo.us-east-1.rds.amazonaws.com:3306'
databasedw    = 'cassendraDW'

- Create an engine to the cassendraDw database

In [ ]:
engine_db2 = create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.format(usernamedw,passworddw,hostdw,databasedw))

- Python Load to SQL

In [ ]:
df_merge.to_sql('customer', engine_db2, index=False, if_exists='replace')

print("New Table inserted in cassendraDW database")